body{
background-image: url(fundo-verde.jpg); width: 500px;
}
.portifólio, .meuNome{
color: #0a4909;
font-family: serif;
}
.sobreMim, .habilidade{
color: #0a4909;
font-family: serif;
}
.residencia{
color: #1e4915;
font-family:serif, cursive;
}
.descricao{
color: #244d0a;
font-family:serif, cursive;
}
.Java, .Desenvolvimento, .html, .Css{
color: #244d0a;
}
